.rightColumn{
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.rightColumn__header {
  padding-top: 5px;
  color: #F5F5F5;
  text-align: center;
}

.rightColumn__chat_window {
  flex-grow: 1;
  overflow-y: auto;
}

.messages{
  color: white;
  list-style: none;
}

.rightColumn__message_container {
  padding: 22px 12px;
  display: flex;
}

.rightColumn__message_container input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #F5F5F5;
}
